name: main-test
permissions:
  contents: read
  pull-requests: read
"on": [push]

jobs:
  test_job:
    runs-on: ubuntu-latest
    name: A test job
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup ocm
      id: setup
      uses: open-component-model/ocm-setup-action@main
#      with:
#        version: v0.19.0
    - name: Output
      run: |
        echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
        which ocm
        ocm --version
